<div class="min-h-screen flex items-center justify-center bg-gray-50 py-8 px-4 sm:px-6 lg:px-8"
>
    <div class="max-w-md w-full">
      <div>
        <h1 
             style="font-size: 27px !important;"
             class="text-indigo-700 antialiased text-opacity-100  mx-auto h-12 w-auto h-8 w-auto lg:block  text-xl mb-1 text-center text-3xl leading-9 font-extrabold text-gray-900 logo">
              Herhealth kit
            </h1>
       <p class="text-center">Choose options applicable*</p>
        
      </div>
      <div class="mt-8">
        <div class="mt-6" *ngFor="let link of links">
          <button type="button" 
         [routerLink]="link['url']" (click)="link['name'] == 'Log out' ? logout() : ''"
          class="group relative w-full flex justify-center py-2 px-4 border border-indigo-700
          text-md leading-5 font-medium rounded-md text-indigo-700 bg-transparent hover:bg-indigo-700 hover:text-white 
          focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo 
          active:bg-indigo-700 transition duration-150 ease-in-out">
            
            {{link['name']}}
          </button>
        </div>
    </div>
    </div>
  </div>