<div class="questinaire-card">
    <div class="survey-entry-box rounded border border-gray-400 custom-background p-2">
      <div class="w-full ml-5  inline-flex items-stretch">
        <span style="width: 85%;">
          <button 
          style="outline:none;" routerLink="/check-symptoms"
          class="font-bold py-2 px-4 rounded inline-flex items-center back-btn">
            <svg viewBox="0 0 49.853515625 86.6689453125" fill="#0071eb" version="1.1" xmlns="http://www.w3.org/2000/svg"
              class="chevron-inline-cap chevron-inline-start 
            glyph-box" style="margin-right: 5px; height: 17.2206px; width: 9.90561px;">
              <g transform="matrix(1 0 0 1 -12.451225585937436 78.564453125)">
                <path d="M 52.4414 
              6.39648 C 53.5645 7.4707 54.9316 8.05664 56.4941 8.05664 C 59.7656 8.05664 62.3047 
              5.51758 62.3047 2.29492 C 62.3047 0.683594 61.6699 -0.78125 60.5469 -1.9043 L 26.3672 
              -35.3027 L 60.5469 -68.6035 C 61.6699 -69.7266 62.3047 -71.2402 62.3047 -72.8027 C 62.3047 
              -76.0254 59.7656 -78.5645 56.4941 -78.5645 C 54.9316 -78.5645 53.5645 -77.9785 52.4902 -76.9043 
              L 14.502 -39.7949 C 13.1348 -38.5254 12.4512 -36.9629 12.4512 -35.2539 
              C 12.4512 -33.5449 13.1348 -32.0801 14.4531 -30.7617 Z"></path>
              </g>
            </svg>
            <span> Back</span>
          </button>
        </span>
        <button 
        style="outline:none;" routerLink="/"
        class="font-bold py-2 px-4 rounded inline-flex items-center back-btn mr-5">
          <span> Cancel</span>
        </button>
      </div>
      <div class="survey-content">
        <h1 class="section-label" tabindex="-1">Do you notice urine color changes?</h1>
        <p>Select all that apply.</p>
        <div class="age_single_choice_description mt-8"></div>
        <div class="questions">
          <button class="rounded-lg w-full p-6 text-left bg-white shadow-md mb-5 inline-flex items-stretch"
            *ngFor="let symptom of urineColor">
            
            <span style="width: 95%;"><span class="font-medium antialiased m-0 text-lg">{{symptom}}</span></span>
            <svg 
            class="fill-current w-4  mr-5"
            viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"
              stroke-linejoin="round" stroke-miterlimit="2">
              <path
                d="M50.026 99.996c27.448 0 49.967-22.52 49.967-49.967 0-27.449-22.52-50.065-50.064-50.065C22.48-.036-.04 22.58-.04 50.03c0 27.448 22.616 49.967 50.065 49.967zm0-12.854a37 37 0 01-37.114-37.113c0-20.587 16.527-37.21 37.017-37.21 20.586 0 37.21 16.623 37.21 37.21.097 20.586-16.527 37.113-37.113 37.113z"
                fill-rule="nonzero"></path>
            </svg>
          </button>
          <div class="next-button-container">
            <div class="container mx-auto" style="width:300px;">
              <button 
              style="outline:none;" routerLink="/urine-smell"
              type="button" class="group relative w-full flex justify-center py-2 
              px-4 border border-transparent text-sm leading-5 font-medium rounded-md 
              text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none 
              focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 
              transition duration-150 ease-in-out btn-primary rounded-lg">
                Next
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>