.survey-entry{
    width: 80%;
}
.custom-background{
    background-color: #f5f5f7;
}
.flexible-panel{
    height: 29.5px;
    padding: .25em;
    font-size: 17px;
    color: #0071eb;
}

.back-btn{
    color: #0071eb;outline: none;
}
.section-label{
    -webkit-margin-after: 8px;
    margin-block-end: 8px;
    font-size: 28px;
    line-height: 32px;
    font-weight: 600;
    color: #1d1d1f;
}