<div class="container mx-auto survey-entry mt-5">
    <div class="survey-entry-box rounded border border-gray-400 custom-background">
        <div class="w-full ml-5  inline-flex items-stretch mt-5">
            <span style="width: 85%;">
              <button class="font-bold py-2 px-4 rounded inline-flex items-center back-btn">
                <svg viewBox="0 0 49.853515625 86.6689453125" fill="#0071eb" version="1.1" xmlns="http://www.w3.org/2000/svg"
                  class="chevron-inline-cap chevron-inline-start 
                glyph-box" style="margin-right: 5px; height: 17.2206px; width: 9.90561px;">
                  <g transform="matrix(1 0 0 1 -12.451225585937436 78.564453125)">
                    <path d="M 52.4414 
                  6.39648 C 53.5645 7.4707 54.9316 8.05664 56.4941 8.05664 C 59.7656 8.05664 62.3047 
                  5.51758 62.3047 2.29492 C 62.3047 0.683594 61.6699 -0.78125 60.5469 -1.9043 L 26.3672 
                  -35.3027 L 60.5469 -68.6035 C 61.6699 -69.7266 62.3047 -71.2402 62.3047 -72.8027 C 62.3047 
                  -76.0254 59.7656 -78.5645 56.4941 -78.5645 C 54.9316 -78.5645 53.5645 -77.9785 52.4902 -76.9043 
                  L 14.502 -39.7949 C 13.1348 -38.5254 12.4512 -36.9629 12.4512 -35.2539 
                  C 12.4512 -33.5449 13.1348 -32.0801 14.4531 -30.7617 Z"></path>
                  </g>
                </svg>
                <span> Back</span>
              </button>
            </span>
            <button class="font-bold py-2 px-4 rounded inline-flex items-center back-btn mr-5">
              <span> Cancel</span>
            </button>
          </div>
          <div class="p-3 ml-5">
            <h1 class="section-label" tabindex="-1">Kit Visual Activity</h1>
        <p>Select one color per bar to complete visual test for your urine</p>

        <div class="mt-8 mt-8 border-3 rounded-lg border-gray-500 shadow-2xl" *ngFor="let metric of metrics">
            <h1 class="font-medium subpixel-antialiased p-3 text-gray-900">{{metric['title']}}</h1>
            <div class="flex border-2 border-gray-900">
                <div class="w-1/6 h-12 cursor-pointer p-3" [ngStyle]="{'background-color': paramter['color']}"
                *ngFor="let paramter of metric['parameters']">{{paramter['name']}}</div>
              </div>
        </div>
        
<br/>
        <button type="button" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition duration-150 ease-in-out">
            <span class="absolute left-0 inset-y-0 flex items-center pl-3">
              <svg class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400 transition ease-in-out duration-150" fill="currentColor" viewBox="0 0 20 20">
                <path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd" />
              </svg>
            </span>
           Submit and wait for results
          </button>
        
        
        </div>

    </div>
    
</div>