.info-card{
    height: auto;
    width: 67%;
}
.img-row{
    height: 99px;
    width: 100px;
    
}
.list-width{
    width: 60%;
}
.custom-width-btn{
    width: 90%;
    position: relative;
    top: -4%;
}
