<div class="survey-entry">
    <div class="survey-entry-box rounded border border-gray-400">
      <div class="bg-gray-400 p-3">
        <div class="container mx-auto sick-person">
          <br/>
            <img
        src="assets/sick.png" alt="Person with thermometer"
            draggable="false">
        </div>
      </div>

       <div class="w-full text-center mt-8">
           <h1 class="font-medium 
           antialiased text-base sm:text-lg 
           md:text-xl lg:text-2xl xl:text-3xl">Sexual-health Screening Tool</h1>
       </div>

       <!-- component -->
       <ul class="flex flex-col items-center p-4">
        <li class="border-gray-400 flex flex-row mb-2 list-width">
          <div class="select-none  rounded-md flex flex-1 items-center p-3">
            <div class="flex flex-col rounded-md w-10 h-10 bg-green-300 justify-center items-center mr-4">📄</div>
            <div class="flex-1 pl-1 mr-16">
              <div class="font-medium">You’ll answer a few questions about symptoms, travel, and contact you’ve had with others.</div>
            </div>
           
          </div>
        </li>
             <li class="border-gray-400 flex flex-row mb-2 list-width">
          <div class="select-none  rounded-md flex flex-1 items-center p-3">
            <div class="flex flex-col rounded-md w-10 h-10 bg-green-300 justify-center items-center mr-4">⚽️</div>
            <div class="flex-1 pl-1 mr-16">
              <div class="font-medium">Your answers will not be shared with HerHealthKit or the Ministry of Health without your permission. </div>
              
            </div>
           
          </div>
        </li>
             <li class="border-gray-400 flex flex-row mb-2 list-width">
          <div class="select-none  rounded-md flex flex-1 items-center p-3">
            <div class="flex flex-col rounded-md w-10 h-10 bg-green-300 justify-center items-center mr-4">📖</div>
            <div class="flex-1 pl-1 mr-16">
              <div class="font-medium">By using this tool, you agree to its terms and that HerHealthKit will not be liable for any harm relating to your use.</div>
             
            </div>
            
          </div>
        </li>
    </ul>

   <div class="container mx-auto btn-width">
    <button type="button" class="group relative w-full flex justify-center py-2 
    px-4 border border-transparent text-sm leading-5 font-medium rounded-md 
    text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none 
    focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 
    transition duration-150 ease-in-out"
    
    >
     
     Start your screening now
    </button>
    <br/>
   </div>   
   
    </div>
</div>