<div class="survey-entry">
    <div class="survey-entry-box">
        <div class="survey-entry-content">
            <div class="flexible-row navigation-row">
                <div class="flexible-space">

                </div>
            </div>
            <div class="flexible-row img-row"><img 
                src="assets/sick.png" alt="Person with thermometer"
                    draggable="false"></div>
            <div class="apple-cdc-icon"></div>
            <div class="flexible-row content-row">
               
            </div>
        </div>
    </div>
</div>