.info-card{
    height: auto;
    width: 65%;
}
.img-row{
    height: 99px;
    width: 100px;
    
}
.list-width{
    width: 60%;
}
.custom-width-btn{
    width: 90%;
    position: relative;
    top: -4%;
}

// new hacks 
.survey-entry{
    width: 100%;
    .survey-entry-box{
    min-height: 745px;
    max-width: 960px;
    margin: 20px auto 60px;
    }
}