
.survey-entry{
    width: 80%;
}

.info-card{
    height: auto;
    width: 65%;
}
.sick-person{
    height: 100px;
    width: 100px;
    
}
.list-width{
    width: 60%;
}
.btn-width{
    max-width: 550px;
    
}
.custom-width-btn{
    width: 90%;
    position: relative;
    top: -4%;
}




// mediaquery

@media (min-width: 200px) and (max-width: 400px) {
    .list-width{
        width: 100%;
    }
    .survey-entry{
        width: 100%;
    }
}
