<div class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full">
      <div>
        <img class="mx-auto h-12 w-auto" src="https://tailwindui.com/img/logos/workflow-mark-on-white.svg" alt="Workflow">
        <h2 class="mt-6 text-center text-3xl leading-9 font-extrabold text-gray-900">
          Create registration center account
        </h2>
        <p class="mt-2 text-center text-sm leading-5 text-gray-600">
            Log in your 
          <a routerLink="/auth" class="font-medium text-indigo-600 hover:text-indigo-500 focus:outline-none focus:underline transition ease-in-out duration-150">
         center account
          </a>
           or  create a <a 
           (click)="service.unselectAccountType()"
           class="
           cursor-pointer 
           font-medium text-indigo-600 hover:text-indigo-500 focus:outline-none focus:underline transition ease-in-out duration-150">
           different account
          </a>
        </p>
      </div>
      <!-- <br/> -->
      <form class="w-full max-w-lg mt-8" [formGroup]="registrationCenterGroup" 
      (ngSubmit)="createRegistrationCenterAccount()">
        <div class="flex flex-wrap -mx-3 mb-6">
          <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
              First Name
            </label>
            <input 
            formControlName="firstName"
            [className]="registrationCenterGroup.get('firstName').invalid 
            && registrationCenterGroup.get('firstName').touched ? 'appearance-none block w-full bg-gray-200 
            text-gray-700 border border-red-500 rounded py-3 
            px-4 mb-3 leading-tight focus:outline-none focus:bg-white' : 
            'appearance-none block w-full bg-gray-200 
            text-gray-700 border border-gray-200 rounded py-3 
            px-4 mb-3 leading-tight focus:outline-none focus:bg-white'" 
           
            id="grid-first-name" type="text" placeholder="Jane">
            <p class="text-red-500 text-xs italic"
            *ngIf="registrationCenterGroup.get('firstName').invalid 
            && registrationCenterGroup.get('firstName').touched"
            >Please fill in first name</p>
          </div>

          <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
              Last Name
            </label>
            <input 
            formControlName="lastName"
            [className]="registrationCenterGroup.get('lastName').invalid 
            && registrationCenterGroup.get('lastName').touched ? 'appearance-none block w-full bg-gray-200 
            text-gray-700 border border-red-500 rounded py-3 
            px-4 mb-3 leading-tight focus:outline-none focus:bg-white' : 
            'appearance-none block w-full bg-gray-200 
            text-gray-700 border border-gray-200 rounded py-3 
            px-4 mb-3 leading-tight focus:outline-none focus:bg-white'" 
            id="grid-first-name" type="text" placeholder="Jane">
            <p class="text-red-500 text-xs italic"
            *ngIf="registrationCenterGroup.get('lastName').invalid 
            && registrationCenterGroup.get('lastName').touched"
            >Please fill in last name</p>
          </div>

          
        </div>
        <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full px-3">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-password">
                Category
                </label>
                <div class="relative">
                  <select 
                  formControlName="category"
                  class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-state">
                    <option>Hospital</option>
                    <option>Clinic</option>
                  </select>
                  <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                    <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                  </div>
                </div>
              </div>
        </div>

        

        <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full px-3">
              <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-password">
                Password
              </label>
              <input 
              formControlName="password"
              [className]="registrationCenterGroup.get('password').invalid && 
              registrationCenterGroup.get('password').touched ? 'appearance-none block w-full bg-gray-200 text-gray-700 
              border border-red-500 rounded py-3 px-4 mb-3 leading-tight 
              focus:outline-none focus:bg-white focus:border-gray-500' : 'appearance-none block w-full bg-gray-200 text-gray-700 
              border border-gray-200 rounded py-3 px-4 mb-3 leading-tight 
              focus:outline-none focus:bg-white focus:border-gray-500'"
             id="grid-password" type="password" placeholder="******************">
              <p 
              *ngIf="registrationCenterGroup.get('password').invalid && 
              registrationCenterGroup.get('password').touched"
              class="text-red-500 text-xs italic">Please fill in password and must be at 
                least 6 characters long</p>
            </div>
          </div>
        <div class="flex flex-wrap -mx-3 mb-2">
          <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-city">
              City
            </label>
            <input 
            formControlName="city"
            [className]="registrationCenterGroup.get('city').invalid
             && registrationCenterGroup.get('city').touched ? ' appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 
             leading-tight focus:outline-none focus:bg-white focus:border-gray-500': 'appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded
             py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500'"
             id="grid-city" type="text" placeholder="Kampala">
          </div>
          <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-zip">
             District
            </label>
            <input 
            [className]="registrationCenterGroup.get('district').invalid
             && registrationCenterGroup.get('district').touched ? 'appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 leading-tight 
             focus:outline-none focus:bg-white focus:border-gray-500': 'appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight 
             focus:outline-none focus:bg-white focus:border-gray-500'"
            formControlName="district"
            id="grid-zip" type="text" placeholder="Masaka">
          </div>
          <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-state">
            Country
            </label>
            <div class="relative">
              <select
              formControlName="country"
              class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-state">
                <option>Uganda</option>
                <option>Kenya</option>
                <option>Rwanda</option>
                <option>Tanzania</option>
              </select>
              <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
              </div>
            </div>
          </div>
          
        </div>
        <div class="mt-6">
            <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition duration-150 ease-in-out">
              
              <ng-container *ngIf="!service.isLoading">
                <span class="absolute left-0 inset-y-0 flex items-center pl-3">
                  <svg class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400 transition ease-in-out duration-150" fill="currentColor" viewBox="0 0 20 20">
                    <path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd" />
                  </svg>
                </span> Create registration center account
              </ng-container>
              <div class="spinner" *ngIf="service.isLoading">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
              </div>
            </button>
          </div>
      </form>
    </div>
  </div>